<div class="card">
    <div class="card-body">
        <form (cadastrar)="add()">
            <div class="form-group">

                <input type="text" class="form-control" placeholder="Nome da ONG" #nome>
            
            </div>

            <div class="form-group">

                <input type="text" class="form-control" placeholder="Slogan" #slogan>
                
            </div>

            <div class="form-group">

                <input type="text" class="form-control" placeholder="Cola ai um link para acharmos vocês !" #link>
                    
            </div>

            <button class="btn btn-primary btn-block">

                Cadastrar

            </button>
        </form>
    </div>
</div>